/* first box */
.head{
    width:100%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
    background-color: rgb(236, 236, 236);
   
}
 .headcont{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:2rem;
    margin-right: 30px;
    margin-top: 10px;
} 
.headcont>div{
    margin-top: 11px;
}


/* second box */


.head2{
    width:100%;
    height: 65px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.headcont2{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:2rem;
    margin-right: 30px;
    margin-top: -32px;
}
.headcont2>div{
    margin-top: -12px;
}
.btn1{
    background-color: rgb(4, 66, 223);
    padding: 8px;
    border-radius: 4px;

}
/* ip{

} */
/* header 3 */

.head3{
    width:100%;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    /* display: flex;
    gap:1.25rem;
    */
}
.place{
    display: flex;
    gap:1.25rem;
    margin-top: 10px;
    margin-left: 100px;
}
/* slide */

/* .slide{
    width:100%;
    height:100px;
    border:1px solid black;
} */
.slide{
    margin: 0px;
    padding: 0px;
    height: 400px;
    width:100%;
    background-image: url("https://www.shine.com/next/static/images/hackathon/Desktop_hackathon.png");
    background-size: 100% 100%;
    animation: changeImage 10s linear infinite ;
}
@keyframes changeImage {
    0%{
        background-image: url("https://www.shine.com/next/static/images/hackathon/Desktop_hackathon.png");
    }
    33.33%{
        background-image: url("https://www.shine.com/next/static/images/hackathon/Hackathon_2nd_pos_desktop.png");
    }
    66.66%{
        background-image: url("https://www.shine.com/_next/image?url=https%3A%2F%2Fstatic1.shine.com%2Fc%2Fs1%2Fimages%2Fcandidate%2Fbanner%2Fwinter_d_home.png&w=640&q=75");
    }
    100%{
        background-image: url("https://www.shine.com/next/static/images/hackathon/Desktop_hackathon.png");
    }
}


/* earlyApplicant */
.hd{
    font-weight: 800;
}

.pic1{

    width:100%;
    height: 150px;
    border:1px solid black;
    display: flex;
    

}
.next{
    width:60px;
    height: 50px;
    border:1px solid black;
    border-radius: 50%;
    margin: auto;
    text-align: center;
   
}
.prev{
    width:60px;
    height: 50px;
    border:1px solid black;
    border-radius: 50%;
    margin: auto;
    text-align: center;
}
.detail{
    width:80%;
    height: 200px;
    border:1px solid red;
    display: flex;
    box-sizing: border-box;
    margin: auto;
    flex-shrink: 0;
    box-sizing: border-box
    ;
    /* overflow-wrap:break-word; */
    /* display: flex; */
}
/* .detail>div{
    width:31%;
    height: 98%;
    border:1px solid black;
    margin: auto;
} */
/* .detail>img{
width:100px;
} */
.box{
    width:300px;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
    width: fit-content;
    block-size: fit-content;
    overflow-wrap:break-word;
    white-space: normal;
    box-sizing: border-box;
/* gap: "1rem"; */
}
.btn2{
color: rgb(99, 26, 244);
margin-left: 90px;
font-weight: 500;

}

/* footer */

.footer{

    display: flex;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 30px;
    background-color: aliceblue;

}
.footer1{
    display: flex;
    width: 80%;
    height: 280px;
    border: 1px solid black;
    margin: auto;
}
.footer1>div{
    margin: auto;
    /* gap:.5rem; */
    margin-left: 20px;
    margin-right: 20px;
    width: 18%;
    height: 250px;
    border: 1px solid rgb(210, 28, 28);
}
.anc>h5{
    color:rgb(134,82,255);
    font-size: 14px;
    margin-bottom: 5px;
}
.anc2>h5{
    color:rgb(134,82,255);
    font-size: 14px;
    margin-bottom: 5px;
}

/* carousel */
.cr1{

    display: flex;
    width:90%;
    height: 250px;
    border: 1px solid black;  
    margin: auto;
}

.box1{
    margin: auto;
    width:400px;
    height: 200px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    width: fit-content;
    block-size: fit-content;
    overflow-wrap:break-word;
    white-space: normal;
    box-sizing: border-box;
    /* background-color: rgb(29, 206, 147);
     */
/* gap: "1rem"; */
}
.slick-arrow{
    background-color: rgb(29, 206, 147);
    width :100px;
    height: 50px;
    color:black;
    }